@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&family=Sanchez&family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@100;200;300;400&display=swap');

body{
    overflow-x: hidden;
}

h3, p{
    color: #6E7491;
}

button{
    font-family: "Nunito Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;